extends bootstrap-base

block franken-body
  
  h1 ADIONA LOGIN
  form(action='/l' method="get")
    .form-group
      label USERNAME
      input.form-control(name='name', type='text', maxlength='50')
      br
    .form-group
      label PASSWORD
      input.form-control(password='password',type='text',maxlength='10')
      br
    .form-group
       button.btn.btn-primary(type="submit") LOGIN
